/* index.css */

@import "tailwindcss";

* {
  box-sizing: border-box;
}


@keyframes fingerBounce {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(10px) scale(1.1);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.animate-finger {
  animation: fingerBounce 1.2s ease-in-out infinite;
}

@keyframes pressVibrate {
  0% {
    transform: perspective(600px) translate(0) rotateZ(0deg);
  }
  20% {
    transform: perspective(600px) translate(-1px, 1px) rotateZ(20deg);
  }
  40% {
    transform: perspective(600px) translate(-1px, -1px) rotateZ(10deg);
  }
  60% {
    transform: perspective(600px) translate(1px, 1px) rotateZ(40deg);
  }
  80% {
    transform: perspective(600px) translate(1px, -1px) rotateZ(-20deg);
  }
  100% {
    transform: perspective(600px) translate(0) rotateZ(0deg);
  }
}
.animate-press {
  animation: pressVibrate 0.35s linear infinite;
}


.price-line {
  font-size: 25px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 20px; /* similar to mb-5 */
  color: #000;
  line-height: 1;
}

.price-wrap {
  display: inline-flex;
  align-items: flex-start;
}

.price-int {
  letter-spacing: 0.2px;
}

.price-dec-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  /* box look */
  border-radius: 4px;

  /* make it "badge-like" */
  padding: 1px 4px;

  /* smaller than main */
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
  /* lift it a bit like superscript */
  transform: translateY(-4px);
  line-height: 1;
  min-width: 18px;
}


