@import "tailwindcss";

* {
  box-sizing: border-box;
}


@keyframes fingerBounce {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(10px) scale(1.1);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.animate-finger {
  animation: fingerBounce 1.2s ease-in-out infinite;
}

@keyframes pressVibrate {
  0% {
    transform: perspective(600px) translate(0) rotateZ(0deg);
  }
  20% {
    transform: perspective(600px) translate(-1px, 1px) rotateZ(20deg);
  }
  40% {
    transform: perspective(600px) translate(-1px, -1px) rotateZ(10deg);
  }
  60% {
    transform: perspective(600px) translate(1px, 1px) rotateZ(40deg);
  }
  80% {
    transform: perspective(600px) translate(1px, -1px) rotateZ(-20deg);
  }
  100% {
    transform: perspective(600px) translate(0) rotateZ(0deg);
  }
}
.animate-press {
  animation: pressVibrate 0.35s linear infinite;
}
